<!DOCTYPE html>
<html lang="en" ng-app="PROJECT_NAME.ng">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<script src="../bower_components/modernizr/modernizr.js"></script>
	</head>
	<body>
		
		<div class="container">
			test
		</div>
		
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/namespace-simple/Namespace.js"></script>
		<script src="../bower_components/angular-logger/angular-logger.js"></script>

		<script src="../js/bootstrap.js"></script>
		
		<script src="../js/config.js"></script>
	</body>
</html>